h2{
    font-family: 'Tektur', cursive;
   
}

h1{
    font-family: 'Bebas Neue', sans-se;
}

body{
    background-color: #9c9ccf;
    
}

footer.rodape {
    display: flex;
    grid-area: rodape;
    align-items: center;
    justify-content: center;
    background-color: rgba(3, 16, 3, 0.453);
    color: white;
    font-size: 1.2rem;
    /* position: fixed; ou position: absolute; REMOVA ESSA LINHA */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
}

.container {
    border: 1px solid #ccc; /* Define uma borda sólida com 1 pixel de espessura e cor cinza (#ccc) */
    padding: 20px; /* Opcional: adicione um espaçamento interno para criar espaço entre o conteúdo e a borda */
}